* {
    box-sizing: border-box;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;

  }
  
  header {
    padding: 20px;
    text-align: center;
    background: #113000;
    color: #fff;
    background-image: url("https://media.istockphoto.com/vectors/seamless-geometric-pattern-vector-id1067192118?k=6&m=1067192118&s=612x612&w=0&h=zbNTe-VllfMkWJXAyf6wvVDf181nIveuCOAl_U0U8mc=");
    background-blend-mode: multiply;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.363);
  }
  
  header p {
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
  }

  header h1 { font-family: Arial, Helvetica, sans-serif;
}

  nav {
    display: flex;
    background-color:white;
   
  }
  
  nav a {
    color: black;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    transition: 50ms;
  }

nav a:hover {
  transform: scale(1.1);
}


  main {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  aside {
    flex: 1 1 20%;
    padding: 20px;
    color: black;
    background: white;
    border: 5px double black;

    
  }
  
  #headshotpic { 
    width: 100%;
    border-radius: 50%;
    height: auto;
    /* border: 10px solid black; */
    box-shadow: 3px 3px 10px black;
  }

  aside ul li {
    list-style-type: none;
    display:inline;
  }

  section {
    flex: 1 1 35%;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    color: white;

  }
  section p{
    line-height: 3;
    line-break:auto;
  }
  article {
    flex: 1 1 45%;
    padding: 0px;
    background-color: black;
    color: white;
  }

  #WorkHeading {
    padding-top: 20px;
  }
  .sample-img {
     width: 100%;
    padding: 20px;
    height: 200px;
    border: 3px solid black;
    flex: 1 1 50%;
    background-image: url("./Comingsoon.png");
    background-size: cover;
    background-position: center;
    transition: 100ms;
    filter:blur(.8px);
    box-shadow: black;
    
  }

  .sample-img:hover {
    transform: scale(1.04);
    filter:blur(0px);
  
  }
  
  footer {
    padding: 20px;
    text-align: center;
    background: #13293d;
    color: #fff;
  }
  
  #Portfolio-work {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 20px 20px 20px

  }
  #Project1 {
    flex: 1 1 100%;
    background-image: url("./01-html-css-git-homework-demo.png");
  }

  div li {
    align-content: center;
    font-weight: bold;
    font-size: 1rem;
    padding: 20px;

  }


  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }

    aside {
      order: 2;
    }
  }
  #SocialIcons{
    display: flex;
    flex-direction: column;
    list-style: none;
   
  }
  .SocialIcons {
    width: 50px;
    text-align: center;
  }